[tool.poetry]
name = "pyfreshintellivent"
version = "0.3.1"
description = "Manage Fresh Intellivent Sky bathroom ventilation fan"
authors = ["Ståle Storø Hauknes <walnut-caprice.04@icloud.com>"]
readme = "README.md"
repository = "https://github.com/LaStrada/pyfreshintellivent"
license = "Apache License 2.0"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
keywords = ["ble", "ventilation", "fresh", "intellivent", "sky"]
include = [
    "characteristics.md", "README.md"
]

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
bleak = ">=0.21.1"
bleak-retry-connector = "^3.2.1"

[tool.poetry.group.dev.dependencies]
black = ">=22.10.0"
flake8 = ">=4.0.0"
pytest = "^7.0.0"
pytest-asyncio = "^0.20.1"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
